<div class="carousel mb-2">
  <div class="carousel-track">
    
      <img src="{{ '/images/carousel/auto-arena.webp' | relative_url }}" alt="auto-arena">
      <img src="{{ 'images/carousel/Indian-red-cross-society-logo.webp' | relative_url }}" alt="Indian-red-cross-society-logo">
      <img src="{{ 'images/carousel/kalika-mataji-mandir-trust-pawagadh.png' | relative_url }}" alt="kalika-mataji-mandir-trust-pawagadh">
      <img src="{{ 'images/carousel/kalupur-commercial-bank.webp' | relative_url }}" alt="kalupur-commercial-bank">
      <img src="{{ 'images/carousel/lakulish-yoga-university.webp' | relative_url }}" alt="lakulish-yoga-university">
      <img src="{{ 'images/carousel/vivro-financial-service-limited-logo.webp' | relative_url }}" alt="vivro-financial-service-limited-logo">
      <img src="{{ 'images/carousel/vivekanand-institute-of-management.webp' | relative_url }}" alt="vivekanand-institute-of-management">
      <img src="{{ 'images/carousel/saraswati-mandir-high-school.webp' | relative_url }}" alt="saraswati-mandir-high-school">
    
    <!-- Repeat logos for infinite loop effect -->
    
    <img src="{{ '/images/carousel/auto-arena.webp' | relative_url }}" alt="auto-arena">
    <img src="{{ 'images/carousel/Indian-red-cross-society-logo.webp' | relative_url }}" alt="Indian-red-cross-society-logo">
    <img src="{{ 'images/carousel/kalika-mataji-mandir-trust-pawagadh.png' | relative_url }}" alt="kalika-mataji-mandir-trust-pawagadh">
    <img src="{{ 'images/carousel/kalupur-commercial-bank.webp' | relative_url }}" alt="kalupur-commercial-bank">
    <img src="{{ 'images/carousel/lakulish-yoga-university.webp' | relative_url }}" alt="lakulish-yoga-university">
    <img src="{{ 'images/carousel/vivro-financial-service-limited-logo.webp' | relative_url }}" alt="vivro-financial-service-limited-logo">
    <img src="{{ 'images/carousel/vivekanand-institute-of-management.webp' | relative_url }}" alt="vivekanand-institute-of-management">
    <img src="{{ 'images/carousel/saraswati-mandir-high-school.webp' | relative_url }}" alt="saraswati-mandir-high-school">
    
    <!-- Another repeat -->

    <img src="{{ '/images/carousel/auto-arena.webp' | relative_url }}" alt="auto-arena">
      <img src="{{ 'images/carousel/Indian-red-cross-society-logo.webp' | relative_url }}" alt="Indian-red-cross-society-logo">
      <img src="{{ 'images/carousel/kalika-mataji-mandir-trust-pawagadh.png' | relative_url }}" alt="kalika-mataji-mandir-trust-pawagadh">
      <img src="{{ 'images/carousel/kalupur-commercial-bank.webp' | relative_url }}" alt="kalupur-commercial-bank">
      <img src="{{ 'images/carousel/lakulish-yoga-university.webp' | relative_url }}" alt="lakulish-yoga-university">
      <img src="{{ 'images/carousel/vivro-financial-service-limited-logo.webp' | relative_url }}" alt="vivro-financial-service-limited-logo">
      <img src="{{ 'images/carousel/vivekanand-institute-of-management.webp' | relative_url }}" alt="vivekanand-institute-of-management">
      <img src="{{ 'images/carousel/saraswati-mandir-high-school.webp' | relative_url }}" alt="saraswati-mandir-high-school">

  </div>
</div>
